# Simplevent
# Matheus Vilano

# Distribution / Packaging
.installed.cfg
bin/
build/
dist/
lib/
lib64/
var/
src/Simplevent.egg-info/

# Compiled Objects
**/*.pyc
**/*.pyo

# macOS
**/.DS_Store

# PIP Logs
pip-log.txt
pip-delete-this-directory.txt

# PyCharm
**/.idea/
